.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 8px 15px 1px rgba(170, 42, 2, 0.818);
    transition: 0.5s;
    animation: fadeIn 1s;
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
}
.food-item-info{
    padding: 20px;
}
.food-item-name-ratting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-ratting p{
    font-size:19px;
    font-weight: 800;color: black;
    font-family:serif;
}
.food-item-name-ratting img{
    width: 70px;
}
.food-item-desc{
    color: #676767;
    font-size: 15px;
}
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0px;
}
.food-item-img-container{
    position: relative;
}
.add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 6px 6px;
    border-radius: 50px;
    background-color: rgb(253, 253, 253);
    font-weight: 700;
    font-size: 18px;
}
.food-item-counter img{
    width: 35px;
}
.food-item-counter p{
    padding-top: 5px;
}
.animat{
    animation: zoomIn 2s ease-in-out;
}
@keyframes zoomIn{
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}